
#images {
img {
    width: 1400px;
    height: 800px;
}
}


/* top banner styles */
body {
    margin: 0;
}

#top-banner {
    background-color: #add8e6;
    font-size: 30px;
    padding: 20px;
}

/* font stuff */
body {
    text-align: center;
    font-family: 'Verdana, Geneva, Tahoma, sans-serif';
    color: #4b0082;
    background-color: #e6adad;
}

a { 
    color: #4b0082;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-family: 'Impact, sans-serif';
}